<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Trace"
      internalLogFile="nlog-internal.log">
  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>
  <targets>
    <target xsi:type="File"
            name="allLevelsFile"
            fileName="${currentdir}\log\Top10MoviesLog.log"
            layout="${date:format=dd-MM-yyyy HH\:mm\:ss.ffff} | ${uppercase:${level}}|${logger} >>>>| ${message} ${exception:format=tostring}"
            maxArchiveFiles="10"
            archiveAboveSize="10002400"
            keepFileOpen="false"
            concurrentWrites="true" />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="allLevelsFile" />
  </rules>
</nlog>